---
import { Image } from 'astro:assets';
const { alt = '', format = 'webp', src, quality = 'high' } = Astro.props;
---

<figure>
	<a class="u-flex" href={src.src}>
		<Image
			alt={alt}
			format={format}
			quality={quality}
			src={src}
			width="1024"
		/>
	</a>
	<figcaption><slot /></figcaption>
</figure>
