---
import { Image } from 'astro:assets';
const { alt = '', format = 'webp', src, quality = 'high' } = Astro.props;
---

<figure class="u-width-full">
	<a class="u-flex" href={src.src}>
		<Image
			alt={alt}
			format={format}
			quality={quality}
			src={src}
			width="720"
		/>
	</a>
	<figcaption><slot /></figcaption>
</figure>

<style>
	figure {
		display: flex;
		flex-wrap: wrap;
		gap: var(--fs-2) 2em;
	}

	figcaption {
		flex-basis: 10em;
		flex-grow: 1;
		margin-bottom: 1rem;
		max-width: 40em;
		text-wrap: pretty;
	}
</style>
